name: Deploy to staging VPS

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Pull code on server
        run: |
          cd /home/mark/FizzUp
          git fetch origin
          git reset --hard origin/${{ github.ref_name }}

      - name: Copy staging env
        run: cp /home/mark/FizzUp/.env.staging $GITHUB_WORKSPACE/.env.staging

      - name: Restart Docker
        run: ./scripts/docker-start.sh ${{ github.ref_name }}